<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

   <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map_canvas { height: 100% }
   </style>
  
    <script type="text/javascript">
      var maps;
      
      function initMap() {
    	var posit = {lat: -25.833924 , lng: -52.726102};  
    	  
        var mapOptions = {
        		//center: new google.maps.LatLng(-25.833924, -52.726102),
        		center: posit,
          zoom: 8,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        maps = new google.maps.Map(document.getElementById('map'), mapOptions);
        //maps = map;
        
        var marker = new google.maps.Marker({position: posit,
        	                                 map: maps});
        //var listPontos = ${pontos};
        //listPontos.forEach(addMarkerPonto(${pontos.getPonto}))
        
 
      }
      
      function addMarker(lati, lngi) {
    	  
    	  var posit = {lat: lati , lng: lngi};  
    	  
    	  var marker = new google.maps.Marker({position: posit,
              map: maps});
      }
      
      function addMarkerList(pontos) {
    	  alert("ola");
    	  
    	  for(var indice in pontos ) { 
    		  
    		  
    		  
    	/*	  addMarker(indice.getLatitude(),
    				    indice.getLongitude());
    		   }*/
    		}

      } 
        
    </script>
    
    <!-- script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOuUquy-tslhCtW_NDULMvtkXEXGhptNw" >
    </script -->
    
    <script type="text/javascript" async defer
      src="https://maps.googleapis.com/maps/api/js?key=" + ${apiKey} >
    </script>


</head>


<body onload="initMap()">

    <p th:text="'Bem vindo ' + ${nome} + ' ao My Walk Circling.'" />
    
    <div id="map" style="width:50%; height:50%"></div>
  </body>
  
  <button onclick="addMarker(-25.83, -52.72)" >criar</button>
  
  <button onclick="addMarkerList(${pontos})" >criar 2</button>
  
  



</html>